/* Title Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* General Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
}

.header { 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 1;

}

.header, .footer {
    padding: 50px 25px 50px 0;
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: coral;

    
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


footer a {
    text-decoration: none;
    color: rgb(249, 170, 50);
    font-size: 50px;
    padding: 20px;

    
    
}

.header > h1 {
    padding: 10px;
    margin: 50px;
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 4px;
    flex: 2;
}

.nav-bar {
    background-color: rgb(255, 217, 0);
    opacity: 50%;
    padding: 10px;
    list-style-type: none;
    justify-content: flex-end;
    border-radius: 30px;
}
.nav-bar li {
    padding: 10px;
    margin: 10px;
}
.nav-bar a {
    padding: 10px;
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 3px;
    text-decoration: none;
    background-color: coral;
    color: #000;
    display: block;
    width: 80px;
    text-align: center;
    border-radius: 20px;
}
.nav-bar a:hover {
    padding: 10px;
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 3px;
    text-decoration: none;
    background-color: #000;
    color: coral;
    display: block;
    width: 80px;
    text-align: center;
    border-radius: 20px;
   
}
.footer > h2 {
    padding: 10px;
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 4px;
}

.aside h2, .section > h2 {
    padding: 10px;
    margin: 15px;
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 4px;
}



.main {
    background-color: rgb(249, 170, 50);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 20px;
    margin: 2px;
}

.section1, .section2, .aside1, .aside2, .aside3, .aside4 {
    text-align: justify;
    line-height: 30px;
    border-radius: 50px;
}

.section1 {
  padding: 50px 0 50px 0;
    background-color: coral;
    order: 0;
}
.aside1 {
    padding: 50px 0 50px 0;
     margin: 2em 0 2em 0;
     background-color: coral;
     order: 1;
 }

 .aside2 {
    padding: 50px 0 50px 0;
     margin: 2em 0 2em 0;
     background-color: coral;
     order: 2;
 }

.section2 {
    padding: 50px 0;
    height: 30%;
    background-color: coral;
    order: 3;
}

.aside3 {
    padding: 50px 0 50px 0;
     margin: 2em 0 2em 0;
     background-color: coral;
     order: 5;
 }

.aside4 {
   padding: 50px 0 50px 0;
     margin: 2em 0 2em 0;
     background-color: coral;
     order: 6;
 }

.section1 p, .section2 p, .aside1 p, .aside2 p, .aside3 p, .aside4 p {
    margin: 30px;
}

.section p {
    gap: 2;
}

/* Responsive Screen for tablets */
@media screen and (min-width:768px){

    .header { 
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    
    }

    .header .nav-bar {
        display: flex;
        flex-direction: row;
    }

    .container
    {
        display: flex;
        flex-direction: column;
    }

    .section1 {
        flex: 1;
        order: 1;
    }

    .section2 {
        order: 3;
    }

    .aside {
        display: flex;
        order: 2;
        gap: 2em;
    }
    .section1, .section2, .aside1, .aside2 {
       padding: 50px 0 50px 0;
    }
    .section1 p, .section2 p {
        margin: 30px;
    }


    .aside1 p, .aside2 p {
        margin: 30px;
    }

}


