/* Title Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* General Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;  
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    background-color: hsl(51, 100%, 50%);
    border-bottom: 1px solid hsla(51, 99%, 30%, 0.984);
    
}

main {
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    margin: 10px;
}
section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer {
    min-height: 60px;
    background-color: hsl(51, 100%, 50%);
    display: flex;
    flex-direction: column;
    border-top: 1px solid hsla(51, 99%, 30%, 0.984);
    
}
.main-heading {
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 2px;
    margin: 0 10px;
}
.menu {
    display: flex;
}
.main-content {
    margin: 25px;
}
ul {
    margin: 3px 15px;
    list-style-type: none;
    
    top: 0;
    gap: 10px;
}

li a {
    margin-top: 15px 2px;
    text-decoration: none;
    color: #000;
}

.active {
   border-bottom: 10px #000;
    
}

footer p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}
section > p {
    text-align: justify;
    margin: 15px 0 35px 0;;
}

section h2 {
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 2px;
}

.external-social-links {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-evenly;
}

.external-social-links a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
    
}